div,body,h1,h2,h3,p{margin:0;padding:0;}
.wrap{margin:0 auto; width:800px; }
.current{background:#2eb398;color:white;}

a{
	font-weight: bold;
    text-decoration: none;
    color: #2eb398; padding:0 5px;}
a:hover{text-decoration:underline}

a.red{background:red; color:white; border-radius:5px;}
a.red:hover{background:white; color:red;}

.version{font-size:10px; color:orange;}

.wrap div{padding:5px; border:1px dashed #ccc; margin:20px 0;}
.wrap div h2{border-bottom:1px solid #ccc; color:#ddd;}
.wrap div h3{margin:10px 2px; padding:0 5px; background:#eee;}
.wrap div h2 .note{color:black;}



.item{ margin:10px 5px; 
	padding:10px;
	border:1px solid #eee; background:white;
	border-radius:10px;
	overflow:hidden;
	
	transition: box-shadow 0.35s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.wrap div.item{border-width:0;}
.item:hover{
	transition:box-shadow .25s;
	box-shadow:0 8px 17px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.19)
}



.listening{}
.speaking{}
.reading{}
.writing{}
/*
*/

/*for tables*/
table { border-collapse:collapse; } 

.hide{display:none;}

